main {
    background-color: blueviolet;
    margin: auto;
    display: flex;
    place-content: center;
}
section {
    background-color:brown
    place-content: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.serveurs {
    margin: 20px
    padding: 

}